/* #region utility */

.fs-9 {
    font-size: 74px;
}

.sometype-mono-h1 {
    font-family: "Sometype Mono", monospace;
    font-weight: 600;
    font-style: normal;
}


.edu-tas-beginner-h1 {
    font-family: "Edu TAS Beginner", cursive;
    font-weight: 700;
    font-style: normal;
    
}
.edu-tas-beginner-fig-caption {
    font-family: "Edu TAS Beginner", cursive;
    font-weight: 400;
    font-style: normal;
    font-size:large;
    word-spacing: 5px;
}

/* #endregion utility */

#app_header {
    background-image: url("../img/wall.png");
    background-size: 600px;
    padding: 2rem;
}

#app_main{
    background-image: url(../img/cork.png);
    background-size: 600px;
}

.polaroid {
    background-color: #fff;
    padding: 15px 15px 50px 15px; /* Top, Right, Bottom, Left */ 
    box-shadow: 2px 2px 4px #888888;
    margin-bottom: 10px;
    margin-top: 30px;
    height: 450px;
}

.polaroid img {
    width: 100%; 
    height: auto; 
    object-fit: cover;
}

.pos-rel{
    position: relative;
}
.overlay-img {
    position: absolute; 
    top: 20px; 
    left: 50%; 
    transform: translateX(-50%); 
    width: 30px; 
    height: auto; 
    z-index: 10; 
}
.figcaption {
    color: #000;
    margin-top: 10px;
    
}
.pos-rel:hover{
    rotate: 30deg;
    scale: 1.2;
    z-index: 11;
    #pin{
        display: none;
    }
}



/* media query */
@media (max-width: 768px) {
    .polaroid {
        min-height: 400px;
    }
}

@media (max-width: 576px) {
    .polaroid {
        padding: 10px;
        margin: 0 50px;
        margin-top: 35px;
    }
}